<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>USOS- prowadzący- admin</title>
</head>
<body>

<h1>Lista Prowadzących</h1>
<ul id="list"></ul>

<h2>Dodawanie Prowadzących</h2>

<form id="addForm">
    <input type="text" id="imie" placeholder="Imię" required>
    <input type="text" id="nazwisko" placeholder="Nazwisko" required>
    <button type="submit">Dodaj</button>
</form>

<p id="addMessage"></p>

<h2>Usuwanie Prowadzących</h2>

<form id="delForm">
    <input type="number" id="id" placeholder="Id prowadzącego" required>
    <button type="submit">Usuń</button>
</form>

<p id="delMessage"></p>

<script>
    async function fetchProwadzący() {
        try {
            const response = await fetch('/api/prowadzacy');
            if (!response.ok) throw new Error('Błąd sieci');

            const prowadzacy = await response.json();
            const list = document.getElementById('list');
            list.innerHTML = '';

            prowadzacy.forEach(elem => {
                const li = document.createElement('li');
                li.textContent = `${elem.imie} ${elem.nazwisko} ID: ${elem.prowadzacy_id}`;
                list.appendChild(li);
            });

        } catch (error) {
            document.getElementById('list').innerHTML =
                `<li>Nie udało się pobrać danych ${error}</li>`;
        }
    }

    /////////////////////////////////////////////////

    const addForm = document.getElementById("addForm");
    const addMessage = document.getElementById("addMessage");

    addForm.addEventListener("submit", async (e) => {
        e.preventDefault();

        const imie = document.getElementById("imie").value;
        const nazwisko = document.getElementById("nazwisko").value;

        addMessage.textContent = "";

        try {
            const response = await fetch('/api/prowadzacy', {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ imie, nazwisko })
            });

            const data = await response.json();

            if (!response.ok) {
                addMessage.style.color = "red";
                addMessage.textContent = data.error;
                return;
            }

            addMessage.style.color = "green";
            addMessage.textContent = "Dodano prowadzącego ✅";

            addForm.reset();
            fetchProwadzący(); // odśwież listę

        } catch (err) {
            addMessage.style.color = "red";
            addMessage.textContent = `Błąd połączenia z serwerem ${err}`;
        }
    });

    //////////////////////////////////////////////////////////

    const delForm=document.getElementById('delForm');
    const delMessage= document.getElementById('delMessage')

    delForm.addEventListener("submit", async (e) => {
        e.preventDefault();

        delMessage.innerHTML= '';
        const id= parseInt(document.getElementById('id').value);

        try {
            const response = await fetch('/api/prowadzacy', {
                method: "DELETE",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ id })
            });

            const data = await response.json();

            if (!response.ok) {
                delMessage.style.color = "red";
                delMessage.textContent = data.error;
                return;
            }

            delMessage.style.color = "green";
            delMessage.textContent = "Usunięto prowadzącego ✅";

            delForm.reset();
            fetchProwadzący(); // odśwież listę

        } catch (err) {
            delMessage.style.color = "red";
            delMessage.textContent = "Błąd połączenia z serwerem";
        }
    });

    //////////////////////////////////////////////////////////

    window.addEventListener('DOMContentLoaded', fetchProwadzący);
</script>

</body>
</html>
