<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>USOS- studenci</title>
</head>
<body>

    <div class="top">
        <h1>STUDENCI</h1>
        <form action="/api/logout" method="POST">
            <button type="submit">Wyloguj</button>
        </form>
    </div>

    <nav>
        <button><a href="/home">Strona Główna</a></button>
        <button><a href="/student">Studenci</a></button>
        <button><a href="/kursy">Kursy</a></button>
        <button><a href="/prowadzacy">Prowadzacy</a></button>
    </nav>

<h1 style="text-align: center;">Lista studentów</h1>
<ul id="studentList"></ul>

<p id="delMessage"></p>

<script>
    async function fetchStudents() {
        try {
            const response = await fetch('/api/student');
            if (!response.ok) throw new Error('Błąd sieci');

            const students = await response.json();
            const list = document.getElementById('studentList');
            list.innerHTML = '';

            students.forEach(student => {
                const li = document.createElement('li');
                li.textContent = `${student.imie} ${student.nazwisko} ID: ${student.student_id}`;
                list.appendChild(li);
            });

        } catch (error) {
            document.getElementById('studentList').innerHTML =
                '<li>Nie udało się pobrać danych</li>';
        }
    }

    window.addEventListener('DOMContentLoaded', fetchStudents);
</script>

</body>
</html>
