--
-- PostgreSQL database dump
--

\restrict jL3IpSHD6qxY1XrraGVeWIZk1U1ul1Anafhs0a1gpaLRP2TyH2iRrAH2Ls1uDXB

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: dzien; Type: TYPE; Schema: public; Owner: projekt2
--

CREATE TYPE public.dzien AS ENUM (
    'poniedzialek',
    'wtorek',
    'sroda',
    'czwartek',
    'piatek',
    'sobota',
    'niedziela'
);


ALTER TYPE public.dzien OWNER TO projekt2;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin; Type: TABLE; Schema: public; Owner: projekt2
--

CREATE TABLE public.admin (
    admin_id integer NOT NULL,
    name character varying(255),
    surname character varying(255),
    login character varying(255),
    password character varying(255)
);


ALTER TABLE public.admin OWNER TO projekt2;

--
-- Name: admin_admin_id_seq; Type: SEQUENCE; Schema: public; Owner: projekt2
--

CREATE SEQUENCE public.admin_admin_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admin_admin_id_seq OWNER TO projekt2;

--
-- Name: admin_admin_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: projekt2
--

ALTER SEQUENCE public.admin_admin_id_seq OWNED BY public.admin.admin_id;


--
-- Name: chodzi_na; Type: TABLE; Schema: public; Owner: projekt2
--

CREATE TABLE public.chodzi_na (
    grup_id integer NOT NULL,
    student_id integer NOT NULL
);


ALTER TABLE public.chodzi_na OWNER TO projekt2;

--
-- Name: grupy; Type: TABLE; Schema: public; Owner: projekt2
--

CREATE TABLE public.grupy (
    grup_id integer NOT NULL,
    kurs_id integer NOT NULL,
    prowadzacy_id integer,
    zajecia_od time without time zone,
    zajecia_do time without time zone,
    wolne_miejsca integer NOT NULL,
    dzien_tygodnia public.dzien,
    CONSTRAINT poprawny_czas CHECK ((zajecia_od < zajecia_do)),
    CONSTRAINT sa_miejsca CHECK ((wolne_miejsca >= 0))
);


ALTER TABLE public.grupy OWNER TO projekt2;

--
-- Name: grupy_grup_id_seq; Type: SEQUENCE; Schema: public; Owner: projekt2
--

CREATE SEQUENCE public.grupy_grup_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.grupy_grup_id_seq OWNER TO projekt2;

--
-- Name: grupy_grup_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: projekt2
--

ALTER SEQUENCE public.grupy_grup_id_seq OWNED BY public.grupy.grup_id;


--
-- Name: kursy; Type: TABLE; Schema: public; Owner: projekt2
--

CREATE TABLE public.kursy (
    kurs_id integer NOT NULL,
    nazwa_kursu character varying(255) NOT NULL,
    ects integer NOT NULL,
    CONSTRAINT dodatnie_ects CHECK ((ects > 0))
);


ALTER TABLE public.kursy OWNER TO projekt2;

--
-- Name: kursy_kurs_id_seq; Type: SEQUENCE; Schema: public; Owner: projekt2
--

CREATE SEQUENCE public.kursy_kurs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.kursy_kurs_id_seq OWNER TO projekt2;

--
-- Name: kursy_kurs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: projekt2
--

ALTER SEQUENCE public.kursy_kurs_id_seq OWNED BY public.kursy.kurs_id;


--
-- Name: prowadzacy; Type: TABLE; Schema: public; Owner: projekt2
--

CREATE TABLE public.prowadzacy (
    prowadzacy_id integer NOT NULL,
    imie character varying(255),
    nazwisko character varying(255)
);


ALTER TABLE public.prowadzacy OWNER TO projekt2;

--
-- Name: prowadzacy_prowadzacy_id_seq; Type: SEQUENCE; Schema: public; Owner: projekt2
--

CREATE SEQUENCE public.prowadzacy_prowadzacy_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.prowadzacy_prowadzacy_id_seq OWNER TO projekt2;

--
-- Name: prowadzacy_prowadzacy_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: projekt2
--

ALTER SEQUENCE public.prowadzacy_prowadzacy_id_seq OWNED BY public.prowadzacy.prowadzacy_id;


--
-- Name: student; Type: TABLE; Schema: public; Owner: projekt2
--

CREATE TABLE public.student (
    student_id integer NOT NULL,
    imie character varying(255) NOT NULL,
    nazwisko character varying(255) NOT NULL,
    haslo character varying(255),
    login character varying(255)
);


ALTER TABLE public.student OWNER TO projekt2;

--
-- Name: student_student_id_seq; Type: SEQUENCE; Schema: public; Owner: projekt2
--

CREATE SEQUENCE public.student_student_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.student_student_id_seq OWNER TO projekt2;

--
-- Name: student_student_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: projekt2
--

ALTER SEQUENCE public.student_student_id_seq OWNED BY public.student.student_id;


--
-- Name: admin admin_id; Type: DEFAULT; Schema: public; Owner: projekt2
--

ALTER TABLE ONLY public.admin ALTER COLUMN admin_id SET DEFAULT nextval('public.admin_admin_id_seq'::regclass);


--
-- Name: grupy grup_id; Type: DEFAULT; Schema: public; Owner: projekt2
--

ALTER TABLE ONLY public.grupy ALTER COLUMN grup_id SET DEFAULT nextval('public.grupy_grup_id_seq'::regclass);


--
-- Name: kursy kurs_id; Type: DEFAULT; Schema: public; Owner: projekt2
--

ALTER TABLE ONLY public.kursy ALTER COLUMN kurs_id SET DEFAULT nextval('public.kursy_kurs_id_seq'::regclass);


--
-- Name: prowadzacy prowadzacy_id; Type: DEFAULT; Schema: public; Owner: projekt2
--

ALTER TABLE ONLY public.prowadzacy ALTER COLUMN prowadzacy_id SET DEFAULT nextval('public.prowadzacy_prowadzacy_id_seq'::regclass);


--
-- Name: student student_id; Type: DEFAULT; Schema: public; Owner: projekt2
--

ALTER TABLE ONLY public.student ALTER COLUMN student_id SET DEFAULT nextval('public.student_student_id_seq'::regclass);


--
-- Name: admin admin_login_key; Type: CONSTRAINT; Schema: public; Owner: projekt2
--

ALTER TABLE ONLY public.admin
    ADD CONSTRAINT admin_login_key UNIQUE (login);


--
-- Name: admin admin_pkey; Type: CONSTRAINT; Schema: public; Owner: projekt2
--

ALTER TABLE ONLY public.admin
    ADD CONSTRAINT admin_pkey PRIMARY KEY (admin_id);


--
-- Name: grupy grupy_pkey; Type: CONSTRAINT; Schema: public; Owner: projekt2
--

ALTER TABLE ONLY public.grupy
    ADD CONSTRAINT grupy_pkey PRIMARY KEY (grup_id);


--
-- Name: kursy kursy_nazwa_kursu_key; Type: CONSTRAINT; Schema: public; Owner: projekt2
--

ALTER TABLE ONLY public.kursy
    ADD CONSTRAINT kursy_nazwa_kursu_key UNIQUE (nazwa_kursu);


--
-- Name: kursy kursy_pkey; Type: CONSTRAINT; Schema: public; Owner: projekt2
--

ALTER TABLE ONLY public.kursy
    ADD CONSTRAINT kursy_pkey PRIMARY KEY (kurs_id);


--
-- Name: kursy nazwa_kuesu_unique; Type: CONSTRAINT; Schema: public; Owner: projekt2
--

ALTER TABLE ONLY public.kursy
    ADD CONSTRAINT nazwa_kuesu_unique UNIQUE (nazwa_kursu);


--
-- Name: chodzi_na nie_zapisze_dwa_razy; Type: CONSTRAINT; Schema: public; Owner: projekt2
--

ALTER TABLE ONLY public.chodzi_na
    ADD CONSTRAINT nie_zapisze_dwa_razy UNIQUE (grup_id, student_id);


--
-- Name: prowadzacy prowadzacy_pkey; Type: CONSTRAINT; Schema: public; Owner: projekt2
--

ALTER TABLE ONLY public.prowadzacy
    ADD CONSTRAINT prowadzacy_pkey PRIMARY KEY (prowadzacy_id);


--
-- Name: student student_login_key; Type: CONSTRAINT; Schema: public; Owner: projekt2
--

ALTER TABLE ONLY public.student
    ADD CONSTRAINT student_login_key UNIQUE (login);


--
-- Name: student student_pkey; Type: CONSTRAINT; Schema: public; Owner: projekt2
--

ALTER TABLE ONLY public.student
    ADD CONSTRAINT student_pkey PRIMARY KEY (student_id);


--
-- Name: chodzi_na fk_grup; Type: FK CONSTRAINT; Schema: public; Owner: projekt2
--

ALTER TABLE ONLY public.chodzi_na
    ADD CONSTRAINT fk_grup FOREIGN KEY (grup_id) REFERENCES public.grupy(grup_id) ON DELETE CASCADE;


--
-- Name: grupy fk_kurs; Type: FK CONSTRAINT; Schema: public; Owner: projekt2
--

ALTER TABLE ONLY public.grupy
    ADD CONSTRAINT fk_kurs FOREIGN KEY (kurs_id) REFERENCES public.kursy(kurs_id) ON DELETE CASCADE;


--
-- Name: grupy fk_prowadzacy; Type: FK CONSTRAINT; Schema: public; Owner: projekt2
--

ALTER TABLE ONLY public.grupy
    ADD CONSTRAINT fk_prowadzacy FOREIGN KEY (prowadzacy_id) REFERENCES public.prowadzacy(prowadzacy_id) ON DELETE CASCADE;


--
-- Name: chodzi_na fk_student; Type: FK CONSTRAINT; Schema: public; Owner: projekt2
--

ALTER TABLE ONLY public.chodzi_na
    ADD CONSTRAINT fk_student FOREIGN KEY (student_id) REFERENCES public.student(student_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict jL3IpSHD6qxY1XrraGVeWIZk1U1ul1Anafhs0a1gpaLRP2TyH2iRrAH2Ls1uDXB

